<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <script>
        // Function to show/hide filters based on category selection
        function handleCategoryChange() {
            var category = document.getElementById("category").value;
            var hatTypeDiv = document.getElementById("hatTypeDiv");
            var accessoryTypeDiv = document.getElementById("accessoryTypeDiv");

            if (category === "hat") {
                hatTypeDiv.style.display = "block";
                accessoryTypeDiv.style.display = "none";
            } else if (category === "accessory") {
                hatTypeDiv.style.display = "none";
                accessoryTypeDiv.style.display = "block";
            } else {
                hatTypeDiv.style.display = "none";
                accessoryTypeDiv.style.display = "none";
            }
        }

        // Run the function on page load to ensure correct display
        window.onload = function() {
            handleCategoryChange();
        };
    </script>
</head>
    <body class="">
        <%- include('navbar') %>
        <div class="container">
            <header>
                <div class="title">PRODUCT LIST</div>
            </header>
            <div class="listProduct">
    
            </div>
        </div>
        <div class="cartTab">
            <h1>Shopping Cart</h1>
            <div class="listCart">
                
            </div>
            <div class="btn">
                <button class="close">CLOSE</button>
                <button class="checkOut">Check Out</button>
            </div>
        </div>
        <script src="/scripts/shop.js"></script>
    </body>
</html>
