/* General styles */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-content {
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Navbar styles */
.navbar {
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 90px;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .active {
    background-color: #4CAF50;
    color: white;
}

.navbar .navbar-username {
    color: white;
    padding: 14px 16px;
}

.navbar .hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    display: none; /* Hide by default */
}

.thumbnail {
    width: 50px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#content.blur {
    filter: blur(5px);
}

.blur {
    filter: blur(5px);
}

/* Adjust for mobile devices */
@media (max-width: 768px) {
    .navbar .hamburger {
        display: block; /* Show on mobile */
    }

    .navbar-links-overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-links-overlay a {
        padding: 20px;
        font-size: 25px;
        color: #f2f2f2;
        text-align: center;
        display: block;
        transition: 0.3s;
    }

    .navbar-links-overlay a:hover,
    .navbar-links-overlay a.active {
        background-color: #4CAF50;
        color: white;
    }

    .navbar-links-overlay.show {
        display: flex;
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
    }

    #cartIcon {
        order: 2;
        margin-left: auto; /* Ensure the cart icon is on the right */
    }

    #cart-tab {
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        transition: opacity 0.5s ease; /* Opacity transition for appearance */
    }

    #cart-tab.active {
        opacity: 1; /* Fully visible when active */
        pointer-events: auto; /* Enable interaction */
    }
}

/* Desktop specific styles */
@media (min-width: 769px) {
    .navbar-links-overlay {
        display: flex;
    }

    .navbar-links-overlay a {
        padding: 14px 16px;
        font-size: 16px;
    }

    #cart-tab.active {
        transform: translateX(0); /* Slide in for desktop */
        opacity: 1; /* Ensure it is visible */
        pointer-events: auto; /* Enable interaction */
    }
}

/* Container for cart items */
#cartItems {
    flex: 1; /* Take up available space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: add some padding */
}

/* Other styles for the cart content */
.cart-toolbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #444;
    border-bottom: 1px solid #333;
}

.cart-toolbar-header h2 {
    margin: 0;
}

.cart-toolbar-header button {
    background: none;
    border: none;
    color: #eee;
    font-size: 1.5em;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #333;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 1em;
}

.cart-item p {
    margin: 0;
}

#cartTotal {
    padding: 1em;
    font-size: 1.2em;
    text-align: right;
    border-top: 1px solid #333;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0px;
}

.navbar-logo img {
    height: 130px; /* Adjust based on your logo size */
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Responsive grid layout for gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next line */
    gap: 10px; /* Space between items */
    padding: 10px; /* Optional: add padding around the gallery */
}

.gallery-item {
    flex: 1 1 150px; /* Flex-grow: 1, flex-shrink: 1, base width: 200px */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    text-align: center; /* Center-align text if needed */
    max-width: 150px; /* Ensure max width per item is 200px */
}

.gallery-item img {
    width: 100%; /* Make the image fit the width of the item */
    height: auto;
}

/* new shop styles */
body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Remove link styling */
.item a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color from the parent element */
}

/* Optional: Customize hover effect if needed */
.item a:hover {
    color: inherit; /* Maintain the original color on hover */
    text-decoration: none; /* No underline on hover */
}

.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img {
    width: 150px; /* or any size you prefer */
    height: 150px;
    object-fit: contain; /* ensures the image covers the specified dimensions */
    border-radius: 5%; /* optional: gives the images slightly rounded corners */
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1); /* Bottom shadow */
    width: 100%; /* or any size you prefer */
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.listProduct .item{
    background-color: white;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .3s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Style for parent images */
.parent-img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Style for thumbnails */
.thumbnail-img {
    width: 40px !important;
    height: auto !important;
    margin: 5px !important;
    border-radius: 50%;
}


/* Thumbnail container to arrange thumbnails */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.color-circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0px;
    border: 2px solid #fff; /* Optional: Add border for better visibility */
}

/* Mobile specific styles for the cart */
@media only screen and (max-width: 768px) {
   

    .cartTab {
        width: 100vw; /* Full screen width on mobile */
        right: -100vw; /* Start off-screen */
    }

    body.showCart .cartTab {
        transform: translateX(0); /* Slide to full visibility */
    }

    body.showCart .container {
        transform: none; /* Keep content centered on mobile */
    }

@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr); /* Adjust number of columns for mobile */
        gap: 2px;
    }
    .listProduct .item img {
        width: 100%; /* or any size you prefer */
        height: 50%;
        object-fit: contain; /* ensures the image covers the specified dimensions */ 
        box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1); /* Bottom shadow */
        gap: 2px;
    }
}
}
